<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="app-page-title app-page-title-simple">
	<div class="page-title-wrapper">
		<div class="page-title-heading">
			<div>
				<div class="page-title-subheading opacity-10">
					<nav class="" aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a> <i aria-hidden="true"
									class="fa fa-home"></i>
							</a></li>
							<li class="breadcrumb-item"><a>Dashboard</a></li>
							<li class="active breadcrumb-item" aria-current="page">
								Crons List Data</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="main-card mb-3 card">
	<div class="card-body">
		<h5 class="card-title">Cronslist Data</h5>
			<table class="table table-hover table-striped table-bordered" id="cronslisting">
				<thead>
					<tr>
						<th>S.No</th>
						<th>Cron Name</th>
						<th>Cron Url</th>
						<th>Cron Status</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${cronsListDto.empty}">
						<td colspan="2">No Record Available</td>
					</tr>
					<tr th:each="crons,iterationStatus : ${cronsListDto}">
						<td><span th:text="${iterationStatus.count}"></span></td>
						<td><span th:text="${crons.cronsName}"></span></td>
						<td><span th:text="${crons.cronsUrl}"></span></td>
						<td><span th:text="${crons.cronsStatus}"></span></td>
						<td><span th:text="${crons.cronsStatus}"></span></td>
					</tr>
				</tbody>
			</table>
	</div>
</div>
<script th:inline="javascript">
	$('#cronslisting').DataTable( {} );   
</script>