<div class="app-page-title app-page-title-simple">
						<div class="page-title-wrapper">
							<div class="page-title-heading">
								<div>
									<div class="page-title-subheading opacity-10">
										<nav class="" aria-label="breadcrumb">
											<ol class="breadcrumb">
												<li class="breadcrumb-item"><a> <i
														aria-hidden="true" class="fa fa-home"></i>
												</a></li>
												<li class="breadcrumb-item"><a>Dashboards</a></li>
												<li class="active breadcrumb-item" aria-current="page">
													Minimal Dashboard Example</li>
											</ol>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mbg-3 alert alert-info alert-dismissible fade show" role="alert">
						<h4>Session Year : <span>2020</span></h4>
					</div>
					<div class="row">
						<div class="col-md-6 col-lg-3">
							<a href="">
								<div class="widget-chart widget-chart2 text-center mb-3 card-btm-border card-shadow-primary border-primary card">
									<div class="widget-chat-wrapper-outer">
										<div class="widget-chart-content">
											<div class="widget-title text-primary">
												9<sup>th</sup> Class
											</div>
											<div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
												<div class="widget-chart-flex align-items-center">
													<div style="width: 100%;">
														<span class="opacity-10 pr-2"> 234 </span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-6 col-lg-3">
							<a href="">
								<div class="widget-chart widget-chart2 text-center mb-3 card-btm-border card-shadow-danger border-danger card">
									<div class="widget-chat-wrapper-outer">
										<div class="widget-chart-content">
											<div class="widget-title text-danger">10th Class</div>
											<div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
												<div class="widget-chart-flex align-items-center">
													<div style="width: 100%">
														<span class="opacity-10  pr-2"> 71 </span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-6 col-lg-3">
							<a href="">
								<div class="widget-chart widget-chart2 text-center mb-3 card-btm-border card-shadow-warning border-warning card">
									<div class="widget-chat-wrapper-outer">
										<div class="widget-chart-content">
											<div class="widget-title text-warning">11th Class</div>
											<div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
												<div class="widget-chart-flex align-items-center">
													<div style="width: 100%;">
														<span class="opacity-10 pr-2"> 145</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-6 col-lg-3">
							<a href="">
								<div class="widget-chart widget-chart2 text-center mb-3 card-btm-border card-shadow-success border-success card">
									<div class="widget-chat-wrapper-outer">
										<div class="widget-chart-content">
											<div class="widget-title text-success">12th Class</div>
											<div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
												<div class="widget-chart-flex align-items-center">
													<div style="width: 100%;">
														<span class="opacity-10 pr-2"> 34 </span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>