<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Feedback</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'/>
<link rel="stylesheet" th:href="@{/css/feedback.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet" th:href="@{/css/emoji.css}" />
<link href="https://fonts.googleapis.com/css?family=Merienda+One&display=swap" rel="stylesheet">
</head>
<body>
<div class="wrapper">
  <div class="feedback-form">
    <div class="main-div">
      <section class="head">
        <div class="row">
          <div class="col-6">
            <div class="logo"> <img src="../images/logo.png" class="img-fluid" /> </div>
          </div>
        </div>
      </section>
      <hr style="margin-bottom:0;"/>
      <section class="center-content">
      	<div class="row">
        	<div class="col-12 text-center">
            	<h4>Your Feedback</h4>
            </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-12 text-center">
            <h5 style="color:#0058b1;" id="feedbackHeader">We Would like to know your Feedback.</h5>
            <input type="hidden" name="userName" id="userName" th:value="${feedbackDetail.feedbackDetail.emailId}" />
            <input type="hidden" name="feedbackId" id="feedbackId" th:value="${feedbackDetail.feedbackDetail.feedbackId}" />
            <input type="hidden" name="vendorId" id="vendorId" th:value="${feedbackDetail.feedbackDetail.vendorId}" />
            <input type="hidden" name="eventId" id="eventId" th:value="${feedbackDetail.feedbackDetail.eventId}" />
            <p id="emojiQuestion"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <ul class="emoji-choices">
              
            </ul>
            <input type="hidden" name="selectParentId" id="selectParentId" value="" />
          </div>
        </div>

      </section>
      <hr />
      
      <section class="textarea">
        
      </section>
      <section class="radio-buttons">
        
      </section>
      <section class="checkbox">
        
      </section>
      <div class="row">
      	<div class="col-12 text-right" id="loginformBtn">
        	<button class="btn btn-success" id="loginform">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
	<script type="text/javascript" th:src="@{/js/custom/feedback.js}"></script>
	<script type="text/javascript" th:src="@{/js/custom/template.js}"></script>
	<script th:inline="javascript">
	$(document).ready(function() {
		vendorId = [[${feedbackDetail.feedbackDetail.vendorId}]];
		eventId = [[${feedbackDetail.feedbackDetail.eventId}]];
		questionType = 1;
		  parentId = 0;
		  startLimit = 0;
		  endLimit = 100;
		    callMainQuestion(vendorId, eventId, questionType, parentId, startLimit, endLimit);
		});
	</script>
</body>
</html>