<div class="app-page-title app-page-title-simple">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div>
                <div class="page-title-subheading opacity-10">
                  <nav class="" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"> <a> <i aria-hidden="true" class="fa fa-home"></i> </a> </li>
                      <li class="breadcrumb-item"> <a>Dashboards</a> </li>
                      <li class="active breadcrumb-item" aria-current="page"> Feedback Send Report </li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
        
<div class="main-card mb-3 card">
                       <div class="card-body">
                            <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr>
                                <tr>
                                    <td>Garrett Winters</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>63</td>
                                    <td>2011/07/25</td>
                                    <td>$170,750</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
 <script th:inline="javascript">
	/*<![CDATA[*/
	    vendorId = /*[[${encryptedUserId}]]*/ 'default';
	    console.log('vendorId '+vendorId);
	/*]]>*/
	$('#example').DataTable( {} );   
</script>
                 