<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> 

<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/custom/common.js}"></script>
<script type="text/javascript" th:src="@{/js/custom/questions.js}"></script>
<script type="text/javascript" th:src="@{/js/custom/template.js}"></script>
<script type="text/javascript" th:src="@{/js/custom/login.js}"></script>

<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/ckeditor/ckeditor.js}"></script>
<script type="text/javascript" th:src="@{/js/ckeditor/ckeditorInitializer.js}"></script>
