<div class="app-wrapper-footer">
					<div class="app-footer">
						<div class="app-footer__inner">
							<div class="app-footer-right">
								<span>2019 © https://seriindia.org</span>
							</div>
						</div>
					</div>
				</div>