<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/styles.css}" />
<title>Spring Boot Application</title>
</head>
<body>
	<h4>Welcome to ecoservice UI</h4>
</body>
</html>