<div class="app-page-title app-page-title-simple">
	<div class="page-title-wrapper">
		<div class="page-title-heading">
			<div>
				<div class="page-title-subheading opacity-10">
					<nav class="" aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a> <i aria-hidden="true"
									class="fa fa-home"></i>
							</a></li>
							<li class="breadcrumb-item"><a>Dashboards</a></li>
							<li class="active breadcrumb-item" aria-current="page">Template Form</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="main-card mb-3 card">
			<div class="card-body">
				<h5 class="card-title">Template Form</h5>
				<form id="templateForm" class="col-md-10 mx-auto" method="post"
					action="javascript:void(0);" novalidate="novalidate">
					<input type="hidden" name="templateId" id="templateId" value="" />
					<div class="form-group">
						<div class="row">
							<div class="col-md-6">
								<label>Vendor:</label>
								<select id="vendorId" name="vendorId" class="form-control" onchange="requestForEventsOnly()">
								</select>
							</div>
							<div class="col-md-6">
								<label for="questionEventType">Event:</label>
								<select name="eventId" id="eventId" class="form-control" onchange="callEventsByVendor()">
									<option value="">Select event</option>
								</select>
							</div>
						</div>
						<div class="row">
								<div class="col-md-6">
									<label>Mail Subject:</label><br />
									<input type="text" name="sendMailSubject" id="sendMailSubject" class="form-control" placeholder="Mail Subject"></input>
								</div>
								<div class="col-md-6" style='display: none;' id="eventAdd">
									<label for="question">Add New Event:</label> <input type="text"
										class="form-control" id="newEvent" name="newEvent"
										placeholder="Add new event Name">
								</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
						<label for="parentQuestion">Please Add your Template below</label>
						<div>
							<div id="editor1"></div>
						</div>
					</div>
				</div>	
					<div class="form-group">
						<button type="submit" class="btn btn-primary" name="saveTemplate"
							id="saveTemplate" value="Submit" onclick="requestForSaveTemplate()">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script th:inline="javascript">
	/*<![CDATA[*/
	    vendorId = /*[[${encryptedUserId}]]*/ 'default';
	    console.log('vendorId '+vendorId);
	/*]]>*/
	initEditor(1, 'editor1', 'Add Template Content', false);
</script>