<div class="app-page-title app-page-title-simple">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div>
                <div class="page-title-subheading opacity-10">
                  <nav class="" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"> <a> <i aria-hidden="true" class="fa fa-home"></i> </a> </li>
                      <li class="breadcrumb-item"> <a>Dashboards</a> </li>
                      <li class="active breadcrumb-item" aria-current="page"> Question Form </li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-12">
        	<div class="main-card mb-3 card">
                        <div class="card-body">
                            <h5 class="card-title">Question Form</h5>
                            <form id="questionForm" class="col-md-10 mx-auto" method="post" action="javascript:void(0);" novalidate="novalidate">
                            <input type="hidden" name="questionId" id="questionId" value="" />
                                <div class="form-group">
                                <div class="row">
                               	 		<div class="col-md-6">
                                   		 <label for="vendor">Vendor</label>
	                                       <select name="vendor" id="vendor" class="form-control" onchange="callForGetEventMaster('questionForm', this.value);" >
	                                       		<option th:value="0" th:text="--Select--"></option>
	                                            <option th:each="vendor : ${vendors.vendorList}" th:value="${vendor.vendorId}" th:text="${vendor.vendorName}"></option>
	                                       </select>
                                    	</div>
                                        <div class="col-md-6">
                                        <label for="questionEventType">Event Type</label>
                                        	<select name="questionEventType" id="questionEventType" class="form-control" onchange="callForGetQuestion('questionForm', this.value);">
                                                  <option value="0">--Select--</option>
                                       		</select>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="form-group">
                                	<div class="row">
                               	 		<div class="col-md-9">
                                   		 <label for="question">Question</label>
                                    		<input type="text" class="form-control" id="question" name="question" placeholder="Question">
                                    	</div>
                                        <div class="col-md-3">
                                        <label for="lastname">Element Type</label>
                                        	<select name="questionElementType" id="questionElementType" class="form-control">
                                                  <option value="0">--Select--</option>
                                       		</select>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <label for="answerLabel">Label</label>
                                    <div class="inc">
	                                    <div class="row">
	                                    	<div class="col-md-6">
	                                    		<input type="text" class="form-control" name="answerLabel" placeholder="Answer Lable">
	                                    	</div>
	                                        <div class="col-md-6">
	                                        	<button type="button" class="btn btn-primary" name="addNewLabel" id="addNewLabel" value="Add">+</button>
	                                        </div>
	                                    </div>
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <div class="row">
                               	 		<div class="col-md-6">
                                        <label for="questionType">Question Type</label>
                                        	<select name="questionType" id="questionType" class="form-control">
                                                  <option value="0">--Select--</option>
                                                  <option value="0">Non Emoji</option>
                                                  <option value="1">Emoji</option>
                                       		</select>
                                        </div>
                                        <div class="col-md-6">
                                        <label for="mandatory">Question Mandatory</label>
                                        	<select name="mandatory" id="mandatory" class="form-control">
                                                  <option value="0">--Select--</option>
                                                  <option value="1">Mandatory</option>
                                                  <option value="0">Non Mandatory</option>
                                       		</select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                   		 <label for="parentQuestion">Question Parent</label>
                                   		 <div>
	                                       <select name="parentQuestion" id="parentQuestion" class="form-control">
	                                                   <option value="0">--Select--</option>
	                                       </select>
                                    	</div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" name="submit" id="questionSubmit" value="Submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
        	</div>
        
        </div>
       <script>
       $("#addNewLabel").on('click', function(e) {
    	      e.preventDefault();
    	      var addNewText = '<div class="row newrow"><div class="col-md-6">';
    	      addNewText = addNewText + ' <input type="text" class="form-control" name="answerLabel" placeholder="Answer Lable">';
    	      addNewText = addNewText + ' </div><div class="col-md-6">';
    	      addNewText = addNewText + ' <button type="button" class="btn btn-primary remove_this" name="addRemoveLabel" value="Remove">-</button>';
    	      addNewText = addNewText + ' </div></div>';
    	      $(".inc").append(addNewText);
    	    	return false;
    	    });

    	    jQuery(document).on('click', '.remove_this', function() {
    		    jQuery(this).parents('.newrow').remove();
    		    return false;
    	    });
    	    
    	    $("#questionSubmit").on('click', function(e){
    	    	callForGetSubmitQuestion('questionForm');
    	    });
    	    
       </script>
                    