<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Template</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'/>
<link rel="stylesheet" th:href="@{/css/template.css}" />
<link rel="stylesheet" th:href="@{/css/emoji.css}" />
</head>
<body>
	<div class="wrapper">
		<div class="template-form">
			<div class="main-div">
				<section class="head">
				<div class="row">
					<div class="col-6">
						<div class="logo">
							<img th:src="@{/images/template-img/logo.png}" class="img-fluid" />
						</div>
					</div>
				</div>
				</section>
				<hr style="margin-bottom: 0;" />
				
				<section class="center-content">
				<div class="row">
					<div class="col-12 text-center">
						<h4>Template</h4>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-6 text-center">
						<label>Vendor:</label><br /> <select id="vendorId" name="vendorId" class="form-control">
							<!-- <option value="">SELECT VENDOR</option> -->
						</select>
					</div>
					<div class="col-md-6 text-center">
						<label>Event:</label><br /> <select id="eventId" name="eventId"
							class="form-control">
							<option value="">SELECT EVENTS</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 text-center">
							<label>Mail Subject</label><br />
							<input type="text" name="mailSubject" id="mailSubject" class="form-control" placeholder="mail Subject"></input>
					</div>
					<!-- <div class="row" style='display:none;' id="eventAdd"> -->
					<div class="col-md-6 text-center" style='display:none;' id="eventAdd">
							<label>Add New Event:</label><br />
							<input type="text" name="newEvent" id="newEvent" class="form-control" placeholder="Add new event Name"></input>
					</div>
				</div>
				<!-- </div> -->
				</section>
				<hr />
				
				<section class="textarea">
					<input type="hidden" name="templateId" id="templateId"></input>
					<div class="question">
						<div class="row">
							<div class="col-md-12">
								<label class="add-template">
								<strong>Please Add your Template below</strong></label>
								<div id="editor1"></div>
							</div>
						</div>
					</div>
				</section>
				<hr />
				
				<div class="row">
					<!-- <div class="col-10 text-right">
						<button class="btn btn-success">Preview</button>
					</div> -->
					<div class="col-12 text-right">
						<button class="btn btn-success" id="saveTemplate">save</button>
					</div>
				</div>
			</div>
		</div>
	</div>	
	
	<div class="modal fade show" id="modalMessage" tabindex="-1" role="dialog">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content text-center">
		            <div id="statusMessage" class="modal-body ${errorClass}">
		                <p class="mb-0">${message}</p>
		           	</div> 
	        </div>
	    </div>
	</div>
	
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/custom/common.js}"></script>
	<script type="text/javascript" th:src="@{/js/custom/template.js}"></script>
	
	<script type="text/javascript" th:src="@{/js/ckeditor/ckeditor.js}"></script>
	<script type="text/javascript" th:src="@{/js/ckeditor/ckeditorInitializer.js}"></script>
	<script>
	 initEditor(1, 'editor1','Add Template Content', false);
	</script>
</body>
</html>