<section class="head">
        <div class="row">
          <div class="col-6">
            <div class="logo"> <img src="images/logo.png" class="img-fluid" /> </div>
          </div>
        </div>
      </section>
      <hr style="margin-bottom:0;"/>
      <section class="center-content"> 
      	<div class="row">
        	<div class="col-12 text-center">
            	<p class="thanku-emoji"><i class="em em-thumbsup"></i></p>
                <p class="thanks-reaction">Thank you for your precious feedback!</p>
            </div>
        </div>
      </section>