body{background-image:url(../images/bg.png);background-repeat:no-repeat;background-size:cover;background-position:center;background-attachment:fixed}
.feedback-form{width:100%;max-width:650px;margin:0 auto;box-shadow:1px 1px 7px 2px #cfcfcf;padding:10px;margin-top:10px;border-radius:10px;    background: rgba(255, 255, 255, 0.82);margin-top:15px;margin-bottom:15px;}
.logo img{width:120px;float:left;}
.content{margin-top:20px;}
h4{margin-top:10px;color:#024284;}
.emoji-choices {list-style: none;padding: 0;text-align: center;}
.emoji {font-size: 25px;-webkit-transition: font-size 300ms ease;transition: font-size 300ms ease;cursor: pointer;margin: 0;}
.thanku-emoji{font-size:80px;margin-top:20px;}
.emoji-selected {font-size: 30px;}
.reaction{margin-bottom:0;margin-top:10px;}
.thanks-reaction{font-size:30px;color:#007fff;margin-top:30px;font-family: 'Merienda One', cursive;}
.select{font-size:14px;}
.category{border-radius:10px;font-size:14px;padding:10px;text-align:center;border:1px solid #0058b1;height:65px;display: table;width: 100%;}
.category p{margin-bottom:0;display: table-cell;vertical-align: middle;}
.main-div{width:100%;max-width:550px;margin:0 auto;}
.textarea textarea{resize:none;border-color:#0058b1;font-size:13px;background: rgba(255,255,255,0.5);}
.textarea textarea:focus{box-shadow:none;border-color:#0058b1;}
.choose-category input[type=radio]{position: absolute;opacity: 0;cursor: pointer;top: 0;width: 100%;height: 100%;left: 0;}
.choose-category input:checked ~ .category {background-color: #fff !important;}
/*Radio Button*/
.radio input[type="radio"] {position: absolute;opacity: 0;}
.radio input[type="radio"] + .radio-label:before {content: '';background: #f4f4f4;border-radius: 100%;border: 1px solid #024284;display: inline-block;width: 1.4em;height: 1.4em;position: relative;top: -0.2em;margin-right: 1em;vertical-align: top;cursor: pointer;text-align: center;-webkit-transition: all 250ms ease;transition: all 250ms ease;}
.radio input[type="radio"]:checked + .radio-label:before {background-color: #024284;box-shadow: inset 0 0 0 4px #f4f4f4;}
.radio input[type="radio"]:focus + .radio-label:before {outline: none;border-color: #024284;}
.radio input[type="radio"]:disabled + .radio-label:before {box-shadow: inset 0 0 0 4px #f4f4f4;border-color: #024284;background: #024284;}
.radio input[type="radio"] + .radio-label:empty:before {margin-right: 0;}
/*Radio Button*/

/*Checkboxes*/
.checkbox .checkbox-effect:not(:checked),
.checkbox .checkbox-effect:checked {position: absolute;left: -9999px;}
.checkbox label {cursor: pointer;position: relative;margin-bottom: 10px;display: flex;-webkit-box-align: center;align-items: center;}
.checkbox .checkbox-effect-6:not(:checked) + label:before,.checkbox .checkbox-effect-6:checked + label:before {content: "";display: inline-block;width: 22px;height: 22px;border: 2px solid #024284;box-sizing: border-box;border-radius: 3px;margin-right: 20px;}
.checkbox .checkbox-effect-6:not(:checked) + label:after,.checkbox .checkbox-effect-6:checked + label:after {content: "\f00c";font-family: fontawesome;font-size: 23px;display: -webkit-box;display: flex;height: 100%;-webkit-box-align: center;align-items: center;position: absolute;top: -2px;left: 6px;color: #024284;text-shadow: 0px -1px 0px #fff;-webkit-transform-origin: center center;transform-origin: center center;}
.checkbox .checkbox-effect-6:not(:checked) + label:after {-webkit-transform: scale(1, 0);transform: scale(1, 0);}
.checkbox .checkbox-effect-6:checked + label:after {-webkit-transform: scale(1, 1);transform: scale(1, 1);-webkit-transition-property: all;transition-property: all;-webkit-transition-duration: 0.2s;transition-duration: 0.2s;-webkit-transition-timing-function: linear;transition-timing-function: linear;-webkit-transition-delay: 0s;transition-delay: 0s;}
.btn:focus{box-shadow:none;}
/*Checkboxes*/
@-webkit-keyframes fadeIn {
	0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 900px) {
  .emoji-choices {display: -webkit-box;display: flex;max-width: 1000px;margin: auto;}
}
@media (min-width: 900px) {
  .choice {width: 6vw;margin-top: 20px;margin: 0 auto;}
}
